@layer utilities {
  .fade-in {
    animation: fade-in-frames 200ms ease-out;
  }

  .fade-out {
    animation: fade-out-frames 200ms ease-in;
  }

  .pop {
    animation: scale 0.2s ease-in;
  }

  @keyframes fade-in-frames {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fade-out-frames {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  .delay-200 {
    animation: delay-frames 200ms;
  }

  @keyframes delay-frames {
    0% {
      opacity: 0;
      height: 0;
      width: 0;
    }
    99% {
      opacity: 0;
      height: 0;
      width: 0;
    }
    100% {
    }
  }

  @keyframes scale {
    0% {
      transform: scale(0.95);
    }
    40% {
      transform: scale(1.02);
    }
    100% {
      transform: scale(1);
    }
  }
}
